@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');


:root{
    --cor-primaria: #000000;
    --cor-secundaria: #EFEEEA;
    --cor-terciaria : #FE7743;
    --cor-btn-hover : #273F4F;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; 100% do ViewPort */
    box-sizing: border-box; /* propriedade que faz com que o elemento filho não saida do elemento pai. */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
h1{
    color: var(--cor-secundaria);
}
h2{
    color: var(--cor-secundaria);

}
.cabecalho{
    padding: 2% 0 0 15% ;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__experiencia{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.tituloDestaque{
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links_navegacao{
    /* background-color: var(--cor-terciaria); */
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px ;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    transition: 0.3s;
}
.apresentacao__links_navegacao:hover{
    background-color: var(--cor-btn-hover);
    padding: 24.5px 22px ;
}
.apresentacao__imagem{
    max-width:488px;
    max-height:750px;
    width: 50%;
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}


/**/

.experiencia__timeline{
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.experiencia__timeline ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    list-style-type: none;
}

.experiencia__timeline ul li .experiencia__timeline__conteudo {
    width: 50%;
    padding: 0 20px;
}


.experiencia__timeline ul li .experiencia__timeline__data {
    width: 50%;
    padding: 0 20px;
    font-weight: normal;
}

/* .experiencia__timeline ul li:nth-child(even) {
    flex-direction: row-reverse;
} */

/* .experiencia__timeline ul li .experiencia__timeline__data h4 {
    float: right
} */

.experiencia__timeline ul li .experiencia__timeline__conteudo h4{
    float: right
}

.experiencia__timeline ul li .experiencia__timeline__conteudo h3 {
    padding: 10px 20px;
    background-color: #be9fe1;
    margin-bottom: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.experiencia__timeline ul li .experiencia__timeline__conteudo p {
    padding: 10px 20px;
    background-color: #e1d9ec;
    margin-top: 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.experiencia__timeline ul li .experiencia__timeline__data h4 {
    background-color: #e1ccec;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;

}

.point {
    min-width: 20px;
    min-height: 20px;
    background-color: var(--cor-primaria);
    border-radius: 100%;
    border: 3px var(--cor-terciaria) solid;
    position: relative;
}


.experiencia__timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: var(--cor-terciaria);
}

@media (max-width: 1200px){
    
    .cabecalho{
        padding: 10% 0 0 0 ;
    }
    
    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto; /* ocupa todo o espaço */ 
    }
}
